.inbox {
	color: #FFF;
	.title {
		color: #FFF;
		margin: 3px 0;
		padding-bottom: 3px;
		padding-top: 3px;
		background-color: #272727;
		text-align: center;
		margin: 10px -15px 10px -15px;
		text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
	}

}
